@import "tailwindcss";

@theme {
  --color-primary: #16423c;
  --color-secondary: #6a9c89;
  --color-secondary-100: #c4dad2;
  --color-text: #e9efec;
  --color-background: #f5f6f8;
  /* ... more custom colors */
}
