@import "tailwindcss";

@theme {
  --color-primary: #16423c;
  --color-secondary: #4d8370;
  --color-secondary-100: #c4dad2;
  --color-text: #e9efec;

  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}
